.shop{
    display: grid;
    grid-template-columns: 3fr 1fr; 
    min-height: 100vh;
}
.products{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5vh 5vw;
}
.order-sum{
    background-color: #ff990040;
}
