header{
    max-width: 100vw;
    padding: 10px 5vw;
    background-color: #1c2b35;
    display: flex;
    justify-content: space-between; 
}
ul li  {
    list-style-type: none ;
}
ul li a {
    text-decoration: none;
    padding: 0px 20px;
    color: white;

}